.app-title {
    float: left;
}

.app-title a {
    text-decoration: none;
    line-height: 64px;
    font-size: 21px;
    display: inline-block;
}

.app-title a:hover {
    text-decoration: none;
}

.app-header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
    background-color: white;
}

.container {
    margin: 0 auto;
}

@media (max-width: 768px) {
    .app-title a {
        font-size: 20px;
    }
}
